body { 
	background:rgba(244,238,255); 
} 
nav { 
	background-color:#dcd6f7; height:80px; width:150px;
	}
th,td {
	border:1px solid;
	}
.time {
	background-color:#dcd6f7;
	font-family:"Courier New","Lucida Console";
	}
header {
	text-align: center;
	text-transform:Uppercase;
	}
#copyright {
	color:DarkRed;
	font-family:"impact","porcine";
	text-align: center;
	}
#rights {
	color:DarkRed;
        font-family:"impact","porcine";
        text-align: center;
	}
#tabletitle {
	font-family:"Courier New","Lucida Console";
	}
