body {
	background-color:rgba(202,222,252);
        color:rgba(0,0,0);
                }
header {
        background-color:rgba(202,222,252);
                }
th,td,table {
        border:1px solid;
        border-collapse: collapse;
                }
#copyrights {
	color:DarkRed;
        font-family:"impact","porcine";
        text-align: center;
	}
.time {
	background-color:#b1cffd;
        font-family:"Courier New","Lucida Console";
	}
.price {
	background-color:#b1cffd;
        font-family:"Courier New","Lucida Console";
	font-weight:bold;
	}
